# Анализ данных телекоммуникаций

## Importing Libraries

In [1]:
import pandas as pd, pyarrow
import numpy as np
import matplotlib.pyplot as plt
import os, sys
from pathlib import Path
from datetime import datetime

import re
# --- Настройка путей и sys.path ---
# Добавляем корневую директорию проекта в sys.path для импорта кастомных модулей
PROJECT_ROOT = Path().cwd().parent
if str(PROJECT_ROOT) not in sys.path:
    sys.path.append(str(PROJECT_ROOT))

from src.config import config
from src.logger import logger
from src.database import clickhouse_engine, postgres_engine, ipdr_engine

2025-11-12 13:39:19,838 | my_logger - INFO - ✅ PostgreSQL engine создан | /data/aturov/scoring/src/database.py:21

Configuration loaded successfully.

2025-11-12 13:39:19,928 | my_logger - INFO - ✅ ClickHouse engine создан | /data/aturov/scoring/src/database.py:36
2025-11-12 13:39:19,929 | my_logger - INFO - ✅ IPDR ClickHouse engine создан | /data/aturov/scoring/src/database.py:46

In [2]:
OVERDUE_DAYS_MAX = 30
TOTAL_OVERDUE = 60
CURRENT_DATE = datetime.now().date()
DATE_START = pd.to_datetime('2022-01-01').date()

## Данные

### Данные о кредитах

In [3]:
df_banking = pd.read_parquet(f"{config.environment.data_processed_path}/credit_data_031025.parquet", engine="pyarrow")
#df_banking = df_banking.query(f'contract_date_open >= "{DATE_START}"')
#df_banking = df_banking.query('name_code_credit == "Потребительские кредиты"')
df_banking.shape

(73957, 30)

In [4]:
df_banking.summa.describe()

count      73957.000000
mean      234411.423435
std       243668.711554
min            1.000000
25%        50000.000000
50%       150000.000000
75%       380097.000000
max      1000000.000000
Name: summa, dtype: float64

In [5]:
df_numbers = df_banking.sort_values(by=['inn', 'contract_date_open'], ascending=True)
df_numbers.drop_duplicates(subset=['inn', 'contract_date_open', 'id_credit'], keep='first', inplace=True)
df_numbers = df_numbers[['inn', 'array_phones']]
df_numbers

                  inn      array_phones
0      10101194902445  ["996772529356"]
1      10101195302746  ["996700205385"]
2      10101195302746  ["996700205385"]
3      10101195400720  ["996704608121"]
4      10101195400720  ["996704608121"]
...               ...               ...
70753  23112200300806  ["996507191045"]
49184  23112200300818  ["996999335503"]
58197  23112200400145  ["996501402906"]
60237  23112200400145  ["996501402906"]
72500  23112200400145  ["996501402906"]

[73957 rows x 2 columns]

In [6]:
gr_cred = df_banking.groupby(['inn', 'status', 'contract_date_open'])['id_credit'].count().reset_index()
gr_cred.sort_values('contract_date_open', ascending=False).head(5)

                  inn    status contract_date_open  id_credit
12551  11403197301092  Отказано         2025-10-14          1
45165  21210199300953  Отказано         2025-10-13          1
53138  21808200400702  Отказано         2025-10-13          1
16831  11811200250233  Отказано         2025-10-13          1
16334  11804200000154  Отказано         2025-10-13          1

In [7]:
gr_cred

                  inn    status contract_date_open  id_credit
0      10101194902445  Одобрено         2023-03-29          1
1      10101195302746  Одобрено         2022-08-25          2
2      10101195400720  Одобрено         2023-04-12          2
3      10101195400894  Одобрено         2022-05-24          1
4      10101195400894  Одобрено         2024-07-04          1
...               ...       ...                ...        ...
70433  23112200300806  Отказано         2025-08-28          1
70434  23112200300818  Одобрено         2025-01-22          1
70435  23112200400145  Отказано         2025-05-26          1
70436  23112200400145  Отказано         2025-06-06          1
70437  23112200400145  Отказано         2025-09-09          1

[70438 rows x 4 columns]

In [8]:
cond = (df_banking['overdue_max'] >= OVERDUE_DAYS_MAX) | (df_banking['total_overdue'] >= TOTAL_OVERDUE) | (df_banking['status'].isin(['Отказано']))
df_banking['target'] = cond.astype(bool)
df_banking.value_counts('target')

target
False    46922
True     27035
Name: count, dtype: int64

In [9]:
client_target_with_phone = df_banking[['inn', 'array_phones', 'target']]
client_target_with_phone

                  inn      array_phones  target
0      10101194902445  ["996772529356"]   False
1      10101195302746  ["996700205385"]   False
2      10101195302746  ["996700205385"]   False
3      10101195400720  ["996704608121"]   False
4      10101195400720  ["996704608121"]   False
...               ...               ...     ...
73952  11811200250233  ["996704880485"]    True
73953  21210199300953  ["996772120213"]    True
73954  21808200400702  ["996500997970"]    True
73955  11804200000154  ["996708322829"]    True
73956  11403197301092  ["996556070087"]    True

[73957 rows x 3 columns]

## Данные телеком-компании

In [10]:
sql = """ 
select * from dict.dict_cont_status dcs
"""

df_dict = pd.read_sql(sql, clickhouse_engine)
df_dict.to_csv(f"{config.environment.data_raw_path}/dict_cont_status_{CURRENT_DATE}.csv", index=False)
df_dict.head()

   id      status
0   0  Terminated
1   1      Active
2   4   Suspended
3   3        Idle
4   2         New

### Найдем по номеру телефона

In [12]:
## найдем ближайщие пользователей по номеру телефона и дате открытия кредита в ClickHouse
sql = f"""
    SELECT
		c_flat.id_request,
		c_flat.contract_date_open as date_open,
		c_flat.id_credit,
		c_flat.inn as inn_eldik,
		c_flat.phone_eldik,
		s.subscription_id,
		s.subs_msisdn as phone_beeline,
		s.eff_dt AS subs_eff_dt,
		decrypt_vault(s.cust_individual_tax_number) AS inn_beeline,
		c_flat.sex,
		c_flat.date_birth,
		c_flat.birthplace,
		c_flat.marital_status,
		c_flat.summa,
		c_flat.interest_on_credit,
		c_flat.contract_length,
		c_flat.prev_credit_count,
		c_flat.sum_of_prev_credits,
		c_flat.overdue_max,
		c_flat.total_overdue,
		c_flat.status
FROM
	DWH.hfct_subs AS s
    GLOBAL
INNER JOIN (
	SELECT
		id as id_request,
		contract_date_open,
		id_credit,
		inn,
		arrayJoin(array_phones) AS phone_eldik,
		sex,
		date_birth,
		birthplace,
		marital_status,
		summa,
		interest_on_credit,
		contract_length,
		prev_credit_count,
		sum_of_prev_credits,
		overdue_max,
		total_overdue,
		status
	FROM
		data_science.credits_eldik
    ) AS c_flat
    ON
	s.subs_msisdn = c_flat.phone_eldik
	AND toDate(c_flat.contract_date_open) = toDate(s.eff_dt + INTERVAL 1 DAY)
    and contract_status = 1
   """
#df_subs = pd.read_sql(sql, clickhouse_engine)
#df_subs.to_csv(f"{config.environment.data_raw_path}/df_subs_phone_{CURRENT_DATE}.csv", index=False)
df_subs_phone = pd.read_csv(f"{config.environment.data_raw_path}/df_subs_phone_2025-10-27.csv")
logger.info(f"df_subs_phone shape: {df_subs_phone['id_request'].nunique()}")
df_subs_phone.rename(columns={'contract_date_open': 'date_open'}, inplace=True)
df_subs_phone['date_open'] = pd.to_datetime(df_subs_phone['date_open'], errors='coerce')
df_subs_phone['subs_eff_dt'] = pd.to_datetime(df_subs_phone['subs_eff_dt'], errors='coerce').dt.date
df_subs_phone['inn_eldik'] = pd.to_numeric(df_subs_phone['inn_eldik'], errors='coerce')
df_subs_phone['inn_beeline'] = pd.to_numeric(df_subs_phone['inn_beeline'], errors='coerce')
df_subs_phone[['phone_beeline', 'phone_eldik']] = df_subs_phone[['phone_beeline', 'phone_eldik']].astype('Int64')
df_subs_phone[['inn_eldik', 'inn_beeline']] = df_subs_phone[['inn_eldik', 'inn_beeline']].astype('Int64')


df_subs_phone.dropna(subset=['subs_eff_dt', 'date_open', 'id_credit'], inplace=True)
logger.info(f"df_subs_phone shape after dropna: {df_subs_phone['id_request'].nunique()}")
df_subs_phone = df_subs_phone[df_subs_phone['date_open'] >= pd.to_datetime(DATE_START)]
df_subs_phone = df_subs_phone.query('date_open > subs_eff_dt')
logger.info(f"df_subs_phone shape: {df_subs_phone['id_request'].nunique()}")
df_subs_phone.head()

2025-11-12 13:40:18,285 | my_logger - INFO - df_subs_phone shape: 15312 | /tmp/ipykernel_689291/216288947.py:58
2025-11-12 13:40:18,311 | my_logger - INFO - df_subs_phone shape after dropna: 15312 | /tmp/ipykernel_689291/216288947.py:69
2025-11-12 13:40:18,325 | my_logger - INFO - df_subs_phone shape: 14484 | /tmp/ipykernel_689291/216288947.py:72

,id_request,date_open,id_credit,inn_eldik,phone_eldik,subscription_id,phone_beeline,subs_eff_dt,inn_beeline,sex,...,birthplace,marital_status,summa,interest_on_credit,contract_length,prev_credit_count,sum_of_prev_credits,overdue_max,total_overdue,status
0,d4baf743-c965-4044-8270-5f2e3dfe9e9f,2025-01-21,5900000000325,22706198300070,996220041104,233538,996220041104,2025-01-20,22611198800562,Мужчина,...,NaN,Женат(Замужем),950000,16.0,36,0,0,0,0,Одобрено
1,c0c58c08-887e-4bbb-b24d-732ba8dd1077,2024-08-22,3000000002354,23105199600680,996779949455,341787,996779949455,2024-08-21,<NA>,Мужчина,...,NaN,Женат(Замужем),120000,22.0,24,0,0,0,0,Одобрено
2,1ffa19d1-6c3a-4e4c-8d99-1c7c666d3d8d,2024-03-11,4600000003326,22210198000208,996777778762,450378,996777778762,2024-03-10,<NA>,Мужчина,...,NaN,Женат(Замужем),500000,6.0,36,0,0,0,0,Одобрено
3,a6e41272-7de8-4b2c-933b-a8cef534c047,2024-03-15,4900000002156,21801198400874,996771717273,444532,996771717273,2024-03-14,<NA>,Мужчина,...,NaN,Женат(Замужем),110000,24.0,12,0,0,0,0,Одобрено
4,3747edcf-fb29-4fba-9a1e-d21044f74c3a,2024-03-15,4100000002876,10101195704030,996222609999,666113,996222609999,2024-03-14,<NA>,Женщина,...,NaN,Вдовец/Вдова,1000000,0.0,36,0,0,0,0,Одобрено

In [13]:
df_subs_phone['id_request'].shape, df_subs_phone['id_credit'].nunique()
# Разница между количеством заявок и уникальных кредитов говорит о том, что по одному кредиту может быть несколько пользователей с таким телефоном в базе Beeline.

((14705,), 14484)

In [14]:
df_credits_id = df_subs_phone.copy()
logger.info(f"df_credits_id shape: {df_credits_id['id_credit'].nunique()}")
df_credits_id = df_credits_id[(pd.to_datetime(df_credits_id['date_open']) - pd.to_datetime(df_credits_id['subs_eff_dt'])) < pd.Timedelta(days=8)]
df_credits_id['match_phone'] = True
df_credits_id['match_inn'] = df_credits_id['inn_eldik'] == df_credits_id['inn_beeline']
df_credits_id['match_inn'].fillna(False, inplace=True)
logger.info(f"df_credits_id shape: {df_credits_id['id_credit'].nunique()}")

df_credits_id.to_csv(f"{config.environment.data_processed_path}/df_match_phone_{CURRENT_DATE}.csv", index=False)
logger.info(f"df_credits_id shape: {df_credits_id['id_credit'].nunique()}")

2025-11-12 13:40:22,325 | my_logger - INFO - df_credits_id shape: 14484 | /tmp/ipykernel_689291/3661099322.py:2
/tmp/ipykernel_689291/3661099322.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_credits_id['match_inn'].fillna(False, inplace=True)
2025-11-12 13:40:22,342 | my_logger - INFO - df_credits_id shape: 14484 | /tmp/ipykernel_689291/3661099322.py:7
2025-11-12 13:40:22,450 | my_logger - INFO - df_credits_id shape: 14484 | /tmp/ipykernel_689291/3661099322.py:10

In [15]:
df_credits_id.columns

Index(['id_request', 'date_open', 'id_credit', 'inn_eldik', 'phone_eldik',
       'subscription_id', 'phone_beeline', 'subs_eff_dt', 'inn_beeline', 'sex',
       'date_birth', 'birthplace', 'marital_status', 'summa',
       'interest_on_credit', 'contract_length', 'prev_credit_count',
       'sum_of_prev_credits', 'overdue_max', 'total_overdue', 'status',
       'match_phone', 'match_inn'],
      dtype='object')

In [16]:
COLUMNS_TO_USE = ['id_request', 'date_open', 'id_credit', 'inn_eldik', 'phone_eldik',
       'subscription_id', 'phone_beeline', 'subs_eff_dt', 'inn_beeline', 'sex',
       'date_birth', 'birthplace', 'marital_status',
        'summa', 'interest_on_credit', 'contract_length',
       'prev_credit_count', 'sum_of_prev_credits', 'overdue_max',
       'total_overdue', 'status', 'match_phone', 'match_inn']

In [17]:
df_credits_id_to_table = df_credits_id[COLUMNS_TO_USE].copy()
df_credits_id_to_table['date_open'] = (
    pd.to_datetime(df_credits_id_to_table['date_open'], errors='coerce')
    .dt.floor('D') 
)

### Найдем по ИНН

In [18]:
## найдем ближайщие пользователей по номеру телефона и дате открытия кредита в ClickHouse
sql = f"""
    SELECT
		c_flat.id_request,
		c_flat.contract_date_open as date_open,
		c_flat.id_credit,
		c_flat.inn as inn_eldik,
		c_flat.phone_eldik,
		s.subscription_id,
        s.customer_id,
		s.subs_msisdn as phone_beeline,
		s.eff_dt AS subs_eff_dt,
		decrypt_vault(s.cust_individual_tax_number) AS inn_beeline,
		c_flat.sex,
		c_flat.date_birth,
		c_flat.birthplace,
		c_flat.marital_status,
		c_flat.summa,
		c_flat.interest_on_credit,
		c_flat.contract_length,
		c_flat.prev_credit_count,
		c_flat.sum_of_prev_credits,
		c_flat.overdue_max,
		c_flat.total_overdue,
		c_flat.status
FROM
	DWH.hfct_subs AS s
    GLOBAL
INNER JOIN (
	SELECT
		id as id_request,
		contract_date_open,
		id_credit,
		inn,
		arrayElement(array_phones, 1) AS phone_eldik,  -- первый номер из массива
		sex,
		date_birth,
		birthplace,
		marital_status,
		summa,
		interest_on_credit,
		contract_length,
		prev_credit_count,
		sum_of_prev_credits,
		overdue_max,
		total_overdue,
		status
	FROM
		data_science.credits_eldik
    ) AS c_flat
    ON c_flat.inn = toInt64OrNull(decrypt_vault(s.cust_individual_tax_number)) 
    AND toDate(c_flat.contract_date_open) = toDate(s.eff_dt + INTERVAL 1 DAY)
    AND contract_status = 1
    """
df_subs_inn = pd.read_sql(sql, clickhouse_engine)
df_subs_inn.to_csv(f"{config.environment.data_raw_path}/df_subs_inn_{CURRENT_DATE}.csv", index=False)

In [19]:
df_subs_inn = pd.read_csv(f"{config.environment.data_raw_path}/df_subs_inn_2025-11-12.csv")
logger.info(f"id_credit shape: {df_subs_inn['id_request'].nunique()}")
# у нас дубликаты могут быть по нескольким номерам на один инн
df_subs_inn.drop_duplicates(subset=['id_request', 'id_credit', 'subscription_id', 'date_open'], keep='first', inplace=True)
logger.info(f"id_credit shape: {df_subs_inn['id_request'].nunique()}")
df_subs_inn['date_open'] = pd.to_datetime(df_subs_inn['date_open'], errors='coerce')
df_subs_inn['subs_eff_dt'] = pd.to_datetime(df_subs_inn['subs_eff_dt'], errors='coerce').dt.date
df_subs_inn['inn_eldik'] = pd.to_numeric(df_subs_inn['inn_eldik'], errors='coerce')
df_subs_inn['inn_beeline'] = pd.to_numeric(df_subs_inn['inn_beeline'], errors='coerce')
df_subs_inn.dropna(subset=['subs_eff_dt', 'date_open', 'id_credit'], inplace=True)
logger.info(f"df_subs_inn shape after dropna: {df_subs_inn['id_request'].nunique()}")
df_subs_inn = df_subs_inn[df_subs_inn['date_open'] >= pd.to_datetime(DATE_START)]
df_subs_inn = df_subs_inn.query('date_open > subs_eff_dt')
logger.info(f"df_subs_inn shape: {df_subs_inn['id_request'].nunique()}")
df_subs_inn.head()

2025-11-12 14:20:45,254 | my_logger - INFO - id_credit shape: 11014 | /tmp/ipykernel_689291/4173107450.py:2
2025-11-12 14:20:45,266 | my_logger - INFO - id_credit shape: 11014 | /tmp/ipykernel_689291/4173107450.py:5
2025-11-12 14:20:45,286 | my_logger - INFO - df_subs_inn shape after dropna: 11014 | /tmp/ipykernel_689291/4173107450.py:11
2025-11-12 14:20:45,299 | my_logger - INFO - df_subs_inn shape: 10799 | /tmp/ipykernel_689291/4173107450.py:14

,id_request,date_open,id_credit,inn_eldik,phone_eldik,subscription_id,customer_id,phone_beeline,subs_eff_dt,inn_beeline,...,birthplace,marital_status,summa,interest_on_credit,contract_length,prev_credit_count,sum_of_prev_credits,overdue_max,total_overdue,status
0,216a2d97-04ea-46a7-8a58-f5793411e4f0,2025-04-29,68103d09150625ef52f0e594,10102198650046,9.967795e+11,619420,2115124904,996773506386,2025-04-28,10102198650046,...,NaN,Женат(Замужем),40000,17.0,24,0,0,0,0,Отказано
1,047a7a3f-fa03-4149-8074-0b8dbaa61b4f,2025-04-18,68022960f4d12f8f5415fb46,22009197701312,9.962204e+11,12411541,2115655832,996222961896,2025-04-17,22009197701312,...,NaN,Холост(а),15000,17.0,3,0,0,0,0,Отказано
2,0dcd6900-8990-4452-98ff-b6000d78fd8c,2025-02-03,1700000002457,11103197600382,9.967085e+11,13051609,2115342199,996223566989,2025-02-02,11103197600382,...,NaN,Женат(Замужем),150000,17.0,24,0,0,0,0,Одобрено
3,8e73fab2-282e-42e0-aa96-f4138438b353,2024-03-04,4900000002152,21312197900847,9.965000e+11,2093553,2115879459,996776568080,2024-03-03,21312197900847,...,NaN,Женат(Замужем),400000,6.0,36,0,0,0,0,Одобрено
4,2e0f6ee5-500d-4fa5-89dd-00ce2110ce7e,2025-04-29,681103c65ce245ff163ea35e,21907198400647,9.965526e+11,1279244,2115330227,996772996414,2025-04-28,21907198400647,...,NaN,Женат(Замужем),200000,17.0,12,0,0,0,0,Отказано

In [20]:
data_without_duplicates = df_subs_inn.copy()
# и не должен быть уже в выборке по телефону
data_without_duplicates = data_without_duplicates[~data_without_duplicates['id_request'].isin(df_subs_phone['id_request'])]
logger.info(f"data_without_duplicates shape: {data_without_duplicates['id_request'].nunique()}")

2025-11-12 14:21:08,931 | my_logger - INFO - data_without_duplicates shape: 5019 | /tmp/ipykernel_689291/1062410031.py:4

In [22]:
only_one_number = data_without_duplicates.groupby('id_request')['customer_id'].nunique().reset_index()
only_one_number = only_one_number[only_one_number['customer_id'] == 1]
only_one = data_without_duplicates[data_without_duplicates['id_request'].isin(only_one_number['id_request'])]
logger.info(f"only_one shape: {only_one['id_request'].nunique()}")

2025-11-12 14:23:25,318 | my_logger - INFO - only_one shape: 4765 | /tmp/ipykernel_689291/1003946366.py:4

In [23]:
only_one[['phone_beeline', 'phone_eldik']] = only_one[['phone_beeline', 'phone_eldik']].astype('Int64')
only_one[['inn_eldik', 'inn_beeline']] = only_one[['inn_eldik', 'inn_beeline']].astype('Int64')

only_one['match_phone'] = False
only_one['match_inn'] = True
logger.info(f"only_one shape: {only_one['id_request'].nunique()}")

only_one.to_csv(f"{config.environment.data_processed_path}/df_match_inn_{CURRENT_DATE}.csv", index=False)
logger.info(f"only_one shape: {only_one['id_request'].nunique()}")

/tmp/ipykernel_689291/18295944.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  only_one[['phone_beeline', 'phone_eldik']] = only_one[['phone_beeline', 'phone_eldik']].astype('Int64')
/tmp/ipykernel_689291/18295944.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  only_one[['inn_eldik', 'inn_beeline']] = only_one[['inn_eldik', 'inn_beeline']].astype('Int64')
/tmp/ipykernel_689291/18295944.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  only_one['match_phone'] = False
/tmp/ipykernel_689291/18295944.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  only_one['match_inn'] = True
2025-11-12 14:23:28,363 | my_logger - INFO - only_one shape: 4765 | /tmp/ipykernel_689291/18295944.py:6
2025-11-12 14:23:28,415 | my_logger - INFO - only_one shape: 4765 | /tmp/ipykernel_689291/18295944.py:9

In [24]:
df_subs_inn_to_table = only_one[COLUMNS_TO_USE].copy()

df_subs_inn_to_table['date_open'] = (
    pd.to_datetime(df_subs_inn_to_table['date_open'], errors='coerce')
    .dt.floor('D') 
)

### Объединим результаты и вставим в основную таблицу

In [25]:
df_credits_id_to_table.columns

Index(['id_request', 'date_open', 'id_credit', 'inn_eldik', 'phone_eldik',
       'subscription_id', 'phone_beeline', 'subs_eff_dt', 'inn_beeline', 'sex',
       'date_birth', 'birthplace', 'marital_status', 'summa',
       'interest_on_credit', 'contract_length', 'prev_credit_count',
       'sum_of_prev_credits', 'overdue_max', 'total_overdue', 'status',
       'match_phone', 'match_inn'],
      dtype='object')

In [26]:
df_subs_inn_to_table.columns

Index(['id_request', 'date_open', 'id_credit', 'inn_eldik', 'phone_eldik',
       'subscription_id', 'phone_beeline', 'subs_eff_dt', 'inn_beeline', 'sex',
       'date_birth', 'birthplace', 'marital_status', 'summa',
       'interest_on_credit', 'contract_length', 'prev_credit_count',
       'sum_of_prev_credits', 'overdue_max', 'total_overdue', 'status',
       'match_phone', 'match_inn'],
      dtype='object')

In [27]:
df_to_table = pd.concat([df_credits_id_to_table, df_subs_inn_to_table], axis=0)
df_to_table.shape

(20886, 23)

In [28]:
df_to_table.drop_duplicates(inplace=True)
df_to_table.shape

(20886, 23)

In [29]:
df_to_table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20886 entries, 0 to 18255
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_request           20886 non-null  object
 1   date_open            20886 non-null  datetime64[ns]
 2   id_credit            20886 non-null  object
 3   inn_eldik            20886 non-null  Int64
 4   phone_eldik          20868 non-null  Int64
 5   subscription_id      20886 non-null  int64
 6   phone_beeline        20886 non-null  Int64
 7   subs_eff_dt          20886 non-null  object
 8   inn_beeline          12604 non-null  Int64
 9   sex                  20886 non-null  object
 10  date_birth           20886 non-null  object
 11  birthplace           240 non-null    object
 12  marital_status       20886 non-null  object
 13  summa                20886 non-null  int64
 14  interest_on_credit   20886 non-null  float64
 15  contract_length      20886 non-null  int64
 16  prev_credit_count    20886 non-null  int64
 17  sum_of_prev_credits  20886 non-null  int64
 18  overdue_max          20886 non-null  int64
 19  total_overdue        20886 non-null  int64
 20  status               20886 non-null  object
 21  match_phone          20886 non-null  bool
 22  match_inn            20886 non-null  boolean
dtypes: Int64(4), bool(1), boolean(1), datetime64[ns](1), float64(1), int64(7), object(8)
memory usage: 3.6+ MB

In [30]:
# сопоставление pandas dtype -> ClickHouse
dtype_map = {
    "int64": "Int64",
    "float64": "Float64",
    "datetime64[ns]": "Date",
    "object": "String",
    "bool": "UInt8",
    "boolean": "UInt8",
}
cols = []
for col, dt in df_credits_id_to_table.dtypes.items():
    ch_type = dtype_map.get(str(dt), "String")
    cols.append(f"`{col}` {ch_type}")

from sqlalchemy import text
from sqlalchemy.exc import SQLAlchemyError
# параметры таблицы
target_db = clickhouse_engine.url.database
target_table = "credits_subs_eldik_clean"
target_db = 'data_science'

cols_ddl = ",\n  ".join(cols)
ddl = f"""
CREATE TABLE IF NOT EXISTS {target_db}.{target_table} (
  {cols_ddl}
) ENGINE = MergeTree()
ORDER BY (date_open,id_request, id_credit)
"""

# создать таблицу
try:
    with clickhouse_engine.connect() as conn:
        conn.execute(text(ddl))
    logger.info(f"Created/checked table {target_db}.{target_table}")
except SQLAlchemyError as e:
    logger.error(f"Failed to create table: {e}")
    raise
# загрузка данных пакетами через pandas.to_sql (использует clickhouse-sqlalchemy dialect)
try:
    # если таблица большая — уменьшите chunksize
    df_to_table.to_sql(
        name=target_table,
        con=clickhouse_engine,
        schema=target_db,
        if_exists="append",
        index=False,
        chunksize=5000,
        method="multi"
    )
    logger.info("Upload to ClickHouse finished")
except Exception as e:
    logger.error(f"Failed to upload dataframe via clickhouse_engine: {e}")
    raise

2025-11-12 14:24:20,665 | my_logger - INFO - Created/checked table data_science.credits_subs_eldik_clean | /tmp/ipykernel_689291/3309748782.py:34
2025-11-12 14:24:29,287 | my_logger - INFO - Upload to ClickHouse finished | /tmp/ipykernel_689291/3309748782.py:50